#
# Core Netfilter Configuration
#
NETFILTER_NETLINK all=m
NETFILTER_NETLINK_QUEUE all=m
NETFILTER_NETLINK_LOG all=m
NF_CT_ACCT all=n
NF_CONNTRACK_MARK all=n
NF_CONNTRACK_SECMARK all=n
NF_CONNTRACK_EVENTS all=n
NF_CT_PROTO_SCTP all=m
NF_CONNTRACK_FTP all=m
NF_CT_NETLINK all=m
NETFILTER_XTABLES all=m
NETFILTER_XT_TARGET_CLASSIFY all=m
NETFILTER_XT_TARGET_CONNMARK all=m
NETFILTER_XT_TARGET_MARK all=m
NETFILTER_XT_TARGET_NFQUEUE all=m
NETFILTER_XT_TARGET_NOTRACK all=m
NETFILTER_XT_TARGET_SECMARK all=m
NETFILTER_XT_TARGET_CONNSECMARK all=m
NETFILTER_XT_MATCH_COMMENT all=m
NETFILTER_XT_MATCH_CONNBYTES all=m
NETFILTER_XT_MATCH_CONNMARK all=m
NETFILTER_XT_MATCH_CONNTRACK all=m
NETFILTER_XT_MATCH_DCCP all=m
NETFILTER_XT_MATCH_ESP all=n
NETFILTER_XT_MATCH_HELPER all=m
NETFILTER_XT_MATCH_LENGTH all=m
NETFILTER_XT_MATCH_LIMIT all=m
NETFILTER_XT_MATCH_MAC all=m
NETFILTER_XT_MATCH_MARK all=m
NETFILTER_XT_MATCH_POLICY all=n
NETFILTER_XT_MATCH_MULTIPORT all=n
NETFILTER_XT_MATCH_PHYSDEV all=m
NETFILTER_XT_MATCH_PKTTYPE all=m
NETFILTER_XT_MATCH_QUOTA all=m
NETFILTER_XT_MATCH_REALM all=m
NETFILTER_XT_MATCH_SCTP all=m
NETFILTER_XT_MATCH_STATE all=m
NETFILTER_XT_MATCH_STATISTIC all=m
NETFILTER_XT_MATCH_STRING all=m
NETFILTER_XT_MATCH_TCPMSS all=m

#
# IP: Netfilter Configuration
#
NF_CONNTRACK_IPV4 all=m
IP_NF_CONNTRACK all=m
IP_NF_CT_ACCT all=y
IP_NF_CONNTRACK_MARK all=y
IP_NF_CONNTRACK_SECMARK all=y
IP_NF_CONNTRACK_EVENTS all=y
IP_NF_CONNTRACK_NETLINK all=m
IP_NF_CT_PROTO_SCTP all=m
IP_NF_FTP all=m
IP_NF_IRC all=m
IP_NF_NETBIOS_NS all=m
IP_NF_TFTP all=m
IP_NF_AMANDA all=m
IP_NF_PPTP all=m
IP_NF_H323 all=m
IP_NF_SIP all=m
IP_NF_QUEUE all=m
IP_NF_IPTABLES all=m
IP_NF_MATCH_IPRANGE all=m
IP_NF_MATCH_TOS all=m
IP_NF_MATCH_RECENT all=m
IP_NF_MATCH_ECN all=m
IP_NF_MATCH_DSCP all=m
IP_NF_MATCH_AH all=n
IP_NF_MATCH_TTL all=m
IP_NF_MATCH_OWNER all=m
IP_NF_MATCH_ADDRTYPE all=m
IP_NF_MATCH_HASHLIMIT all=m
IP_NF_FILTER all=m
IP_NF_TARGET_REJECT all=m
IP_NF_TARGET_LOG all=m
IP_NF_TARGET_ULOG all=m
IP_NF_TARGET_TCPMSS all=m
IP_NF_NAT all=m
IP_NF_NAT_NEEDED all=y
IP_NF_TARGET_MASQUERADE all=m
IP_NF_TARGET_REDIRECT all=m
IP_NF_TARGET_NETMAP all=m
IP_NF_TARGET_SAME all=m
IP_NF_NAT_SNMP_BASIC all=m
IP_NF_NAT_IRC all=m
IP_NF_NAT_FTP all=m
IP_NF_NAT_TFTP all=m
IP_NF_NAT_AMANDA all=m
IP_NF_NAT_PPTP all=m
IP_NF_NAT_H323 all=m
IP_NF_MANGLE all=m
IP_NF_TARGET_TOS all=m
IP_NF_TARGET_ECN all=m
IP_NF_TARGET_DSCP all=m
IP_NF_TARGET_TTL all=m
IP_NF_TARGET_CLUSTERIP all=m
IP_NF_RAW all=m
IP_NF_ARPTABLES all=m
IP_NF_ARPFILTER all=m
IP_NF_ARP_MANGLE all=m

#
# IPv6: Netfilter Configuration (EXPERIMENTAL)
#
NF_CONNTRACK_IPV6 all=m
IP6_NF_QUEUE all=m
IP6_NF_IPTABLES all=m
IP6_NF_MATCH_RT all=m
IP6_NF_MATCH_OPTS all=m
IP6_NF_MATCH_FRAG all=m
IP6_NF_MATCH_HL all=m
IP6_NF_MATCH_OWNER all=m
IP6_NF_MATCH_IPV6HEADER all=m
IP6_NF_MATCH_AH all=n
IP6_NF_MATCH_EUI64 all=m
IP6_NF_FILTER all=m
IP6_NF_TARGET_LOG all=m
IP6_NF_TARGET_REJECT all=m
IP6_NF_MANGLE all=m
IP6_NF_TARGET_HL all=m
IP6_NF_RAW all=m

#
# DECnet: Netfilter Configuration
#
DECNET_NF_GRABULATOR all=m

#
# Bridge: Netfilter Configuration
#
BRIDGE_NF_EBTABLES all=m
BRIDGE_EBT_BROUTE all=m
BRIDGE_EBT_T_FILTER all=m
BRIDGE_EBT_T_NAT all=m
BRIDGE_EBT_802_3 all=m
BRIDGE_EBT_AMONG all=m
BRIDGE_EBT_ARP all=m
BRIDGE_EBT_IP all=m
BRIDGE_EBT_LIMIT all=m
BRIDGE_EBT_MARK all=m
BRIDGE_EBT_PKTTYPE all=m
BRIDGE_EBT_STP all=m
BRIDGE_EBT_VLAN all=m
BRIDGE_EBT_ARPREPLY all=m
BRIDGE_EBT_DNAT all=m
BRIDGE_EBT_MARK_T all=m
BRIDGE_EBT_REDIRECT all=m
BRIDGE_EBT_SNAT all=m
BRIDGE_EBT_LOG all=m
BRIDGE_EBT_ULOG all=m
