X86_64 all=y
64BIT all=y
X86 all=y
SEMAPHORE_SLEEPERS all=y
MMU all=y
GENERIC_CALIBRATE_DELAY all=y
X86_CMPXCHG all=y
EARLY_PRINTK all=y
GENERIC_ISA_DMA all=y
GENERIC_IOMAP all=y
ARCH_MAY_HAVE_PC_FDC all=y
DMI all=y

#
# Subarchitecture Type
#
X86_PC all=y
X86_VSMP all=n

#
# Processor family
#
MK8 all=y
MPSC all=n
GENERIC_CPU all=n
X86_L1_CACHE_BYTES all=128
X86_L1_CACHE_SHIFT all=7
X86_TSC all=y
X86_GOOD_APIC all=y
MICROCODE all=m
X86_MSR all=m
X86_CPUID all=m
X86_HT all=y
X86_IO_APIC all=y
X86_LOCAL_APIC all=y
MTRR all=y
SMP all=y
SCHED_SMT all=y
SCHED_MC all=y

#
# RCU implementation type:
#
NUMA all=y
RWSEM_GENERIC_SPINLOCK all=y
K8_NUMA all=y
X86_64_ACPI_NUMA all=y
NUMA_EMU all=n
ARCH_DISCONTIGMEM_ENABLE all=y
ARCH_DISCONTIGMEM_DEFAULT all=y
ARCH_SPARSEMEM_ENABLE all=y
MEMORY_HOTPLUG all=n
HAVE_ARCH_EARLY_PFN_TO_NID all=y
NR_CPUS all=64
HOTPLUG_CPU all=y
HPET_TIMER all=y
HPET_EMULATE_RTC all=y
CALGARY_IOMMU all=y
SWIOTLB all=y
X86_MCE all=y
X86_MCE_INTEL all=y
X86_MCE_AMD all=y
KEXEC all=y
CRASH_DUMP all=n
PHYSICAL_START all=0x100000
SECCOMP all=y
REORDER all=y
GENERIC_HARDIRQS all=y
GENERIC_IRQ_PROBE all=y
ISA_DMA_API all=y
GENERIC_PENDING_IRQ all=y

#
# ACPI (Advanced Configuration and Power Interface) Support
#
ACPI all=y
ACPI_SLEEP all=y
ACPI_SLEEP_PROC_FS all=y
ACPI_SLEEP_PROC_SLEEP all=y
ACPI_AC all=m
ACPI_BATTERY all=m
ACPI_BUTTON all=m
ACPI_VIDEO all=m
ACPI_HOTKEY all=m
ACPI_FAN all=m
ACPI_DOCK all=m
ACPI_PROCESSOR all=m
ACPI_THERMAL all=m
ACPI_ASUS all=m
ACPI_IBM all=m
ACPI_IBM_DOCK all=n
ACPI_TOSHIBA all=m
ACPI_CUSTOM_DSDT all=n
ACPI_BLACKLIST_YEAR all=0
ACPI_DEBUG all=n
ACPI_EC all=y
ACPI_POWER all=y
ACPI_SYSTEM all=y
X86_PM_TIMER all=y
ACPI_CONTAINER all=m
ACPI_SBS all=m
ACPI_HOTPLUG_MEMORY all=m

#
# CPU Frequency scaling
#
CPU_FREQ all=y
CPU_FREQ_TABLE all=m
CPU_FREQ_DEBUG all=n
CPU_FREQ_STAT all=m
CPU_FREQ_STAT_DETAILS all=y

#
# Default CPUFreq governor
#
CPU_FREQ_DEFAULT_GOV_PERFORMANCE all=y
CPU_FREQ_DEFAULT_GOV_USERSPACE all=n
CPU_FREQ_GOV_PERFORMANCE all=y
CPU_FREQ_GOV_POWERSAVE all=m
CPU_FREQ_GOV_USERSPACE all=m
CPU_FREQ_GOV_ONDEMAND all=m
CPU_FREQ_GOV_CONSERVATIVE all=m

#
# CPUFreq processor drivers
#
X86_POWERNOW_K8 all=m
X86_POWERNOW_K8_ACPI all=y
X86_SPEEDSTEP_CENTRINO all=m
X86_SPEEDSTEP_CENTRINO_ACPI all=y
X86_ACPI_CPUFREQ all=m

#
# shared options
#
X86_ACPI_CPUFREQ_PROC_INTF all=n
X86_SPEEDSTEP_LIB all=n

#
# Bus options (PCI etc.)
#
PCI all=y
PCI_DIRECT all=y
PCI_MMCONFIG all=y

#
# Executable file formats / Emulations
#
IA32_EMULATION all=y
IA32_AOUT all=y
COMPAT all=y
SYSVIPC_COMPAT all=y

#
# Firmware Drivers
#
EDD all=m
DELL_RBU all=m
DCDBAS all=m


PROFILING all=y
OPROFILE all=m
KPROBES all=n


# from common
IDE all=m
BLK_DEV_IDE all=m
AGP all=y
FB_VGA16 all=m
MDA_CONSOLE all=m
FB_NVIDIA all=m
FB_RIVA all=m
FB_RADEON all=m
FB_ATY128 all=m
FB_ATY all=m
