X86_64_XEN all=y
XEN_PCIDEV_FRONTEND all=y
XEN_PCIDEV_FE_DEBUG all=y
TCG_XEN all=m
USB_STORAGE_ONETOUCH all=y
XEN_PRIVILEGED_GUEST all=y
XEN_BACKEND all=m
XEN_BLKDEV_BACKEND all=m
XEN_BLKDEV_TAP all=m
XEN_NETDEV_BACKEND all=m
XEN_NETDEV_PIPELINED_TRANSMITTER all=n
XEN_NETDEV_LOOPBACK all=m
XEN_PCIDEV_BACKEND all=m
XEN_PCIDEV_BACKEND_VPCI all=y
XEN_PCIDEV_BACKEND_PASS all=n
XEN_PCIDEV_BACKEND_SLOT all=n
XEN_PCIDEV_BE_DEBUG all=n
XEN_TPMDEV_BACKEND all=m
XEN_BLKDEV_FRONTEND all=m
XEN_NETDEV_FRONTEND all=m
XEN_GRANT_DEV all=m
XEN_FRAMEBUFFER all=m
XEN_KEYBOARD all=m
XEN_SCRUB_PAGES all=y
XEN_DISABLE_SERIAL all=y
XEN_SYSFS all=m
XEN_COMPAT_030002_AND_LATER all=y
XEN_COMPAT_030004_AND_LATER all=n
XEN_COMPAT_030100_AND_LATER all=n
XEN_COMPAT_LATEST_ONLY all=n

# x86
X86_XEN i386=y
PCI_GOMMCONFIG i386=n
PCI_GODIRECT i386=n
PCI_GOXEN_FE i386=n
PCI_GOANY i386=y
DEBUG_PAGEALLOC i386=n
