X86_32 all=y
SEMAPHORE_SLEEPERS all=y
X86 all=y
MMU all=y
GENERIC_ISA_DMA all=y
GENERIC_IOMAP all=y
ARCH_MAY_HAVE_PC_FDC all=y
DMI all=y

#
# Processor type and features
#
SMP all=y

#
# Subarchitecture Type
#
X86_PC all=n
X86_ELAN all=n
X86_VOYAGER all=n
X86_NUMAQ all=n
X86_SUMMIT all=n
X86_BIGSMP all=n
X86_VISWS all=n
X86_GENERICARCH all=n
X86_ES7000 all=n

#
# Processor family
#
M386 all=n
M486 all=n
M586 all=n
M586TSC all=n
M586MMX all=n
M686 all=n
MPENTIUMII all=n
MPENTIUMIII all=n
MPENTIUMM all=n
MPENTIUM4 all=n
MK6 all=n
MK7 all=n
MK8 all=n
MCRUSOE all=n
MEFFICEON all=n
MWINCHIPC6 all=n
MWINCHIP2 all=n
MWINCHIP3D all=n
MGEODEGX1 all=n
MGEODE_LX all=n
MCYRIXIII all=n
MVIAC3_2 all=n

X86_GENERIC all=y
X86_L1_CACHE_SHIFT all=7
RWSEM_GENERIC_SPINLOCK all=y
GENERIC_CALIBRATE_DELAY all=y
X86_PPRO_FENCE all=y
X86_F00F_BUG all=y
X86_INTEL_USERCOPY all=y
HPET_TIMER all=y
HPET_EMULATE_RTC all=y
NR_CPUS all=16
SCHED_SMT all=y
SCHED_MC all=y

#
# RCU implementation type:
#
X86_LOCAL_APIC all=y
X86_IO_APIC all=y
X86_MCE all=y
X86_MCE_NONFATAL all=y
X86_MCE_P4THERMAL all=y
VM86 all=y
TOSHIBA all=m
I8K all=m
X86_REBOOTFIXUPS all=y
MICROCODE all=m
X86_MSR all=m
X86_CPUID all=m

#
# Firmware Drivers
#
EDD all=m
EFI_VARS all=m
DELL_RBU all=m
DCDBAS all=m

#
# High Memory Support
#
NOHIGHMEM all=n
HIGHMEM4G all=y
HIGHMEM64G all=n
VMSPLIT_3G all=y
VMSPLIT_3G_OPT all=n
VMSPLIT_2G all=n
VMSPLIT_1G all=n
PAGE_OFFSET all=0xC0000000
HIGHMEM all=y
ARCH_FLATMEM_ENABLE all=y
ARCH_SPARSEMEM_ENABLE all=y
ARCH_SELECT_MEMORY_MODEL all=y
HIGHPTE all=n
MATH_EMULATION all=y
MTRR all=y
EFI all=y
IRQBALANCE all=y
BOOT_IOREMAP all=y
REGPARM all=n
SECCOMP all=y

KEXEC all=y
CRASH_DUMP all=n
COMPAT_VDSO all=n
PHYSICAL_START all=0x100000
HOTPLUG_CPU all=n


#
# Power management options (ACPI, APM)
#

#
# ACPI (Advanced Configuration and Power Interface) Support
#
ACPI all=y
ACPI_SLEEP all=y
ACPI_SLEEP_PROC_FS all=y
ACPI_SLEEP_PROC_SLEEP all=n
ACPI_AC all=m
ACPI_BATTERY all=m
ACPI_BUTTON all=m
ACPI_VIDEO all=m
ACPI_HOTKEY all=m
ACPI_FAN all=m
ACPI_DOCK all=m
ACPI_PROCESSOR all=m
ACPI_THERMAL all=m
ACPI_ASUS all=m
ACPI_IBM all=m
ACPI_IBM_DOCK all=n
ACPI_TOSHIBA all=m
ACPI_CUSTOM_DSDT all=n
ACPI_BLACKLIST_YEAR all=0
ACPI_DEBUG all=n
ACPI_EC all=y
ACPI_POWER all=y
ACPI_SYSTEM all=y
X86_PM_TIMER all=y
ACPI_CONTAINER all=m
ACPI_SBS all=m
APM all=m
APM_IGNORE_USER_SUSPEND all=n
APM_DO_ENABLE all=n
APM_CPU_IDLE all=y
APM_DISPLAY_BLANK all=n
APM_RTC_IS_GMT all=n
APM_ALLOW_INTS all=n
APM_REAL_MODE_POWER_OFF all=y

#
# CPU Frequency scaling
#
CPU_FREQ all=y
CPU_FREQ_TABLE all=m
CPU_FREQ_DEBUG all=n
CPU_FREQ_STAT all=m
CPU_FREQ_STAT_DETAILS all=y

#
# Default CPUFreq governor
#
CPU_FREQ_DEFAULT_GOV_PERFORMANCE all=y
CPU_FREQ_DEFAULT_GOV_USERSPACE all=n
CPU_FREQ_GOV_PERFORMANCE all=y
CPU_FREQ_GOV_POWERSAVE all=m
CPU_FREQ_GOV_USERSPACE all=m
CPU_FREQ_GOV_ONDEMAND all=m
CPU_FREQ_GOV_CONSERVATIVE all=m

#
# CPUFreq processor drivers
#
X86_ACPI_CPUFREQ all=m
X86_POWERNOW_K6 all=m
X86_POWERNOW_K7 all=m
X86_POWERNOW_K7_ACPI all=y
X86_POWERNOW_K8 all=m
X86_POWERNOW_K8_ACPI all=y
X86_GX_SUSPMOD all=m
X86_SPEEDSTEP_CENTRINO all=m
X86_SPEEDSTEP_CENTRINO_ACPI all=y
X86_SPEEDSTEP_CENTRINO_TABLE all=y
X86_SPEEDSTEP_ICH all=m
X86_SPEEDSTEP_SMI all=m
X86_P4_CLOCKMOD all=m
X86_CPUFREQ_NFORCE2 all=m
X86_LONGRUN all=m
X86_LONGHAUL all=m

#
# shared options
#
X86_ACPI_CPUFREQ_PROC_INTF all=y
X86_SPEEDSTEP_LIB all=m
X86_SPEEDSTEP_RELAXED_CAP_CHECK all=y

#
# Bus options (PCI, PCMCIA, EISA, MCA, ISA)
#
PCI all=y

#
# PCI access mode
#
PCI_GOBIOS all=n
PCI_BIOS all=y
ISA_DMA_API all=y
ISA all=y
EISA all=y
EISA_VLB_PRIMING all=y
EISA_PCI_EISA all=y
EISA_VIRTUAL_ROOT all=y
EISA_NAMES all=y
MCA all=n
SCx200 all=m
SCx200HR_TIMER all=m


PROFILING all=y
OPROFILE all=m
KPROBES all=n

4KSTACKS all=n
X86_FIND_SMP_CONFIG all=y
X86_MPPARSE all=y
DOUBLEFAULT all=y

GENERIC_HARDIRQS all=y
GENERIC_IRQ_PROBE all=y
GENERIC_PENDING_IRQ all=y
X86_SMP all=y
X86_HT all=y
X86_BIOS_REBOOT all=y
X86_TRAMPOLINE all=y
KTIME_SCALAR all=y


# from common
IDE all=m
BLK_DEV_IDE all=m
AGP all=m
FB_VGA16 all=m
MDA_CONSOLE all=m
FB_NVIDIA all=m
FB_RIVA all=m
FB_RADEON all=m
FB_ATY128 all=m
FB_ATY all=m
